{% extends "invApp/list_layout.html"%}
{% block title %}Item List {% endblock %}

{% block content %}
<h1 class="text-center">Items List</h1>
<div class="mb-3 text-end">
    <a href="{% url 'product_create' %}" class="btn btn-primary">
        <i class="fas fa-plus"></i> Add New Item
    </a>
</div>
<table class="table table-bordered table-stripped text-center">
    <thead class="thead-dark">
        <tr>
            <th>No.</th>
       <!--      <th>Item ID</th> -->
            <th>Item Name   </th>
            <th>Item Image  </th>
            <th>SKU</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Supplier</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       {%for product in products%} 
    
       <tr>
        <td>{{forloop.counter}}</td> <!-- para sa pag count sa list -->
   <!--      <td>{{product.product_id}}</td> -->
        <td>{{product.name}}</td>
        <td><img src="{{ product.image.url }}" alt="Image description" style="width: auto; height:100px"></td>
        <td>{{product.sku}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.product_id}}</td>
        <td> <a href="{% url 'product_update' product.product_id%}" class="btn btn-info"><i class="fas fa-edit"></i> Update</a>
            <a href="{% url 'product_delete' product.product_id%}" class="btn btn-danger"> <i class="fas fa-trash-alt"></i> Delete</a>
</td>
        
             
       
       </tr>
       {%endfor%}
    </tbody>
</table>

{%endblock%}
